html {
    background-color: #333;
    color: aliceblue;
}

a {
    color: rgb(172, 162, 162);
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}